<div class="container">
    <h3>Available Donations in your city</h3>
    
    <table class="table">
        <thead>
            <tr>  
                <th>Name</th> 
                <th>Category</th>
                <th>Sub Category</th>
                <th>Details</th>
                <th>neededFor</th>  
                <th>Quantity</th>                
                <th>Quality</th> 
                
                <th></th>                                               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of itemDonationsList;let i = index;"> 
                <td> <div class="form-group">
                    <div class="form-group__text">
                        <span>{{item.name}}</span>                                               
                    </div>
                </div>
              </td>     
              <td> <div class="form-group">
                <div class="form-group__text">
                    <span>{{item.category}}</span>                                               
                </div>
            </div>
          </td>  
          <td> <div class="form-group">
            <div class="form-group__text">
                <span>{{item.subcategory}}</span>                                               
            </div>
        </div>
      </td> 
      <td> <div class="form-group">
        <div class="form-group__text">
            <span>{{item.details}}</span>                                               
        </div>
    </div>
  </td>   
      <td> <div class="form-group">
        <div class="form-group__text">
            <span>{{item.neededFor}}</span>                                               
        </div>
        </div>
        </td>  
        <td> <div class="form-group">
            <div class="form-group__text">
                <span>{{item.quantity}}</span>                                               
            </div>
            </div>
            </td>  
            <td> <div class="form-group">
                <div class="form-group__text">
                    <span>{{item.quality}}</span>                                               
                </div>
                </div>
                </td>                       
              <td> <div class="form-group">
                <div class="form-group__text">
                    <button class="btn btn-secondary" (click)="requestItem(i)">Request</button>                                               
                </div>
            </div>
          </td>  
        </tr>
    </tbody>
    </table>
    
    </div>