
<div class="d-flex justify-content-center" *ngIf="loadingItemsFlag||loadingUpdatesFlag">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>


<div class="container mt-3" *ngIf="(!loadingUpdatesFlag)&&(!loadingItemsFlag)">
  <div class="row mt-3 mb-3">
    <div class="col">
     <button class="btn btn-outline-dark btn-sm" (click)="getFreshData()"> Refresh Data </button>
    </div>
  </div>
  <div class="btn-group" id="navigationBtns">
    <button class="btn btn-outline-dark" [class.active]="currentPage=='request'" (click)="createItemRequirement()">Request</button>
    <button class="btn btn-outline-dark" [class.active]="currentPage=='donations'" (click)="viewDonations()">Donations</button>
    <button class="btn btn-outline-dark"  [class.active]="currentPage=='updates'"(click)="viewMyRequirements()">My Requirements</button>

    </div>
  </div>
  <div id="seperator" style="height:30px">

  </div>
<router-outlet *ngIf="(!loadingUpdatesFlag)&&(!loadingItemsFlag)"></router-outlet>