
<div class="d-flex justify-content-center" *ngIf="loadingFlag">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>


<div class="container" *ngIf="!loadingFlag">
  <div class="btn-group" id="navigationBtns">
    <button class="btn btn-outline-dark" (click)="createItemRequirement()">Request an item</button>
    <button class="btn btn-outline-dark" (click)="viewDonations()">view Donations</button>
    <button class="btn btn-outline-dark" (click)="viewMyRequirements()">My Requirements</button>

    </div>
  </div>
  <div id="seperator" style="height:30px">

  </div>
<router-outlet *ngIf="!loadingFlag"></router-outlet>