
<div class="container">
    <h3>Enter the item details</h3>
    <form #itemRequirementForm="ngForm" (ngSubmit)="onSubmit(itemRequirementForm)">
        <div class="mb-3">
            <label for="itemName" class="form-label">Name</label>
            <input type="text" id="itemName" class="form-control" 
            ngModel
            name="name"
            required
            >
        </div>
        <div class="mb-3">
            <label for="itemCategory" class="form-label">Category</label>
            <input #itemCat class="form-control" list="itemCategories" id="itemCategory" placeholder="Type to search category" 
            ngModel 
            name="category"
            required
            >
            <datalist id="itemCategories">
                <option value="Electronics">
                <option value="Clothes">
                <option value="Books">
            </datalist>
        </div>
        <div class="mb-3">
            <label for="itemSubcategory" class="form-label">Sub Category</label>
            <input class="form-control" list="itemSubcategories" id="itemSubcategory" placeholder="Type to search Sub-Category" 
            ngModel 
            name="subcategory"
            required
            >
            <datalist id="itemSubcategories" *ngIf="itemCat.value=='Electronics'">
                <option value="Phones">
                <option value="TV">
                <option value="Computers">
            </datalist>
            <datalist id="itemSubcategories" *ngIf="itemCat.value=='Clothes'">
                <option value="Men">
                <option value="Women">
                <option value="Children">
                <option value="Winter">
                <option value="Bedsheets">
            </datalist>
            <datalist id="itemSubcategories" *ngIf="itemCat.value=='Books'">
                <option value="Story Books">
                <option value="Non-Fiction">
                <option value="Textbooks">
                <option value="Notebooks">
            </datalist>
        </div>
        <div class="mb-3">
            <label for="itemQuantity" class="form-label">Quantity</label>
            <input type="number" id="itemQuantity" class="form-control" 
            ngModel
            name="quantity"
            required
           
            >
        </div>
        <div class="mb-3">
        <label for="itemDetails" class="form-label">Details</label>
                <input type="text" id="itemDetails" class="form-control" 
                ngModel
                name="details"
                required
                >
        </div>
        <div>
            <div class="mb-3">
            <button class="btn btn-secondary" type="submit" [disabled]="!itemRequirementForm.valid">Submit</button>            
            </div>
        </div>
        </form>
    </div>
