
<div class="container" id="msgBody" *ngIf="msgMode">
        
    <div class="form-floating mb-3">
      <textarea class="form-control" [(ngModel)]="messageBody" placeholder="Type your Message here" id="floatingTextarea2" style="height: 100px"></textarea>
      <label for="floatingTextarea2">Your Message</label>
      
    </div>
    <div class="mb-3">
      <label for="itemImage" class="form-label">Upload an Image</label>
      <input type="file" id="itemImage" class="form-control" (change)="onFileSelected($event)"
      ngModel
      name="image"
      required
      >
      </div>
    
    <button class="btn btn-outline-secondary" (click)="sendMessage()">Send</button>
    <button class="btn btn-outline-secondary" (click)="showUpdates()">Back</button>
</div>  

<div class="container" id="imgBody" *ngIf="imgMode">
  
  <!--Loader for Image-->
  <div class="d-flex justify-content-center" *ngIf="!imageLoaded">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  </div>
<h4 *ngIf="imageString=='-1'">No Image found</h4>
  <button *ngIf="imageLoaded" class="btn btn-outline-secondary" (click)="showUpdates()" style="display:block">Back</button>
  <div class="text-center">
  <img src = "{{imageString}}" *ngIf="imageLoaded" height="500" width="500">
</div>
</div>


<div class="container" *ngIf="(!msgMode)&&(!imgMode)">

  <button class="btn btn-outline-secondary mb-3 mt-3" (click)="routeToUpdates()">Back</button>
<!--Item Information here-->

<div class="card text-center">
  <div class="card-header">
    {{update.itemName}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{update.itemCategory}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{update.Subcategory}}</h6>
    <div class="row">
        <div class="col">
            <span class="fw-bold">Quantity:</span> {{update.itemQuantity}}
        </div>
        <div class="col">
          <span class="fw-bold">Quality:</span> {{update.itemQuality}}
      </div>
        
    </div>
    <div class="row">
      <div class="col">
        <p class="card-text">{{update.itemDetails}}</p>
      </div>
    
    </div>
    
    <button class="btn btn-secondary mt-3" (click)="viewItemImage()">View Image</button>
    
  </div>
  <div class="card-footer text-muted">
    {{update.itemDate | date:'medium'}}
  </div>
</div>

<div id="seperator" class="mt-3 mb-3">
  <hr>
</div>
    <!--Item updates here-->
    <ng-container>
        <h5>Updates for selected Item </h5>
      <div id="itemUpdates" *ngFor ="let update of selectedItemUpdates;index as j;">
        
        <div [ngSwitch]="update.updateType">
            <div *ngSwitchCase = "'donateRequest'" id="donateReqUpdate">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{update.updateDate | date:'medium'}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{update.updateType}}</h6>
                      <div class="row">
                          <div class="col">
                          NGOName: {{update.ngoName}} 
                         </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Details: {{update.reqDetails}}
                            </div>
                        </div>
                        <div class="btn-group"  role="group" aria-label="Basic outlined example">
                            <button class="btn btn-outline-secondary" (click)="acceptOrReject(j,'accept')">Accept</button>
                            <button class="btn btn-outline-secondary" (click)="acceptOrReject(j,'decline')">Decline</button>
                        </div>
                    </div>
                  </div>
            </div>
            <div *ngSwitchCase = "'donate'" id="donateUpdate">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{update.updateDate | date:'medium'}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{update.updateType}}</h6>
                      <p class="card-text">Waiting for {{update.ngoName}}'s Approval</p>
                    </div>
                  </div>
            </div>
            <div *ngSwitchCase = "'received'" id="receivedUpdate">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{update.updateDate | date:'medium'}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{update.updateType}}</h6>
                      <p class="card-text">{{update.ngoName}} has received your item</p>
                    </div>
                  </div>
            </div>
            <div *ngSwitchCase = "'message'" id="messageUpdate">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{update.updateDate | date:'medium'}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{update.updateType}}</h6>
                      <p class="card-text" *ngIf="update.messageFrom=='donor'">To: {{update.ngoName}}</p>
                    <p class="card-text" *ngIf="update.messageFrom=='NGO'">From: {{update.ngoName}}</p>
                      <p>{{update.message}}</p>
                      <button class="btn btn-outline-secondary" *ngIf="update.messageImage!='-1'"(click)="viewMsgImage(j)">View Image</button>  
                    </div>
                  </div>
             </div>
            <div *ngSwitchCase = "'accept'" id="acceptUpdate">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{update.updateDate | date:'medium'}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{update.updateType}}</h6>
                      <p class="card-text">You have accepted {{update.ngoName}}'s request</p>
                      <button class="btn btn-outline-secondary" (click)="setMsgIndex(j)">Send Message</button>  
                    </div>
                  </div>
            </div>
            <div *ngSwitchCase = "'decline'" id="declineUpdate">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{update.updateDate | date:'medium'}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{update.updateType}}</h6>
                      <p class="card-text">You declined {{update.ngoName}}'s request</p>
                    </div>
                  </div>
            </div>
            <div *ngSwitchCase = "'acceptDonation'" id="acceptDonationUpdate">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{update.updateDate | date:'medium'}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{update.updateType}}</h6>
                      <p class="card-text">{{update.ngoName}} accepted your offer</p>
                      <button class="btn btn-outline-secondary" (click)="setMsgIndex(j)">Send Message</button>  
                    </div>
                  </div>
            </div>
            <div *ngSwitchCase = "'declineDonation'" id="rejectDonationUpdate">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{update.updateDate | date:'medium'}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{update.updateType}}</h6>
                      <p class="card-text">{{update.ngoName}} rejected your offer</p>
                    </div>
                  </div>
            </div>
            <div *ngSwitchCase = "'itemDeleted'" id="rejectDonationUpdate">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{update.updateDate | date:'medium'}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{update.updateType}}</h6>
                      <p class="card-text">This item has been deleted</p>
                    </div>
                  </div>
            </div>
            <div *ngSwitchCase = "'requirementDeleted'" id="requirementDeletedUpdate">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{update.updateDate | date:'medium'}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{update.updateType}}</h6>
                      <p class="card-text">{{update.ngoName}} deleted this requirement</p>
                    </div>
                  </div>
            </div>
            <div *ngSwitchCase = "'noupdate'" id="noupdateUpdate">
                <h5> No Updates for this Item</h5>
             </div>
            <div *ngSwitchDefault>
                New updateType not handled: {{update.updateType}}
            </div>
        </div>
      </div>
      </ng-container>


</div>