
<div class="container">
<div class="mt-3 row">
    <div class="btn-group col">
    <button class="btn btn-outline-dark btn-lg" *ngIf="registerType=='none'" (click)="setRegisterType('donor')">Donor</button> 
    <button class="btn btn-outline-dark btn-lg" *ngIf="registerType=='none'" (click)="setRegisterType('donee')">NGO</button>  
    </div>   


    <!--Testing image view fn-->
<img src = "{{imageString}}" *ngIf="imageLoaded">
</div>

<div class="row">
    <div class="col-lg-6">
        
        <h3 *ngIf="registerType=='donor'">Donor Registration Form</h3>   
        <h3 *ngIf="registerType=='donee'">NGO Registration Form</h3> 
        <div *ngIf="registerType=='donor'">
<form #donorRegForm="ngForm" (ngSubmit)="onSubmit(donorRegForm)">
    <div class="mb-3">
        <label for="donorName">Name</label>
        <input type="text" id="donorName" class="form-control" 
        ngModel
        name="name"
        required
        >
    </div>
    <div class="mb-3">
        <label for="donorAddress">Address</label>
        <input type="text" id="donorAddress" class="form-control" 
        ngModel
        name="address"
        required
        >
    </div>
    <div class="mb-3">
        <label for="donorPincode">Pincode</label>
        <input type="number" id="donorPincode" class="form-control" 
        ngModel
        name="pincode"
        required
        >
    </div>
    <div class="mb-3">
        <label for="donorPhone">Contact No.</label>
        <input type="number" id="donorPhone" class="form-control" 
        ngModel
        name="phone"
        required
        pattern=".{10,}"
        >
    </div>
    <div class="mb-3">
    <label for="donorEmail">E-mail</label>
            <input type="email" id="donorEmail" class="form-control" 
            ngModel
            name="email"
            required
            email>
    </div>
    <div class="mb-3">
        <label for="donorPassword">Password</label>
        <input type="password" id="donorPassword" class="form-control"
        ngModel
        name="password"
        required
        pattern=".{6,}">
    </div>
    <div class="btn-group mb-3">
        <button class="btn btn-outline-dark" *ngIf="registerType=='donor'" (click)="routeToLogin()">Back</button>
        
        <button class="btn btn-outline-dark" type="submit" [disabled]="!donorRegForm.valid">Register</button>
    </div>
    </form>
</div>
    <div *ngIf="registerType=='donee'">
    <form #doneeRegForm="ngForm" (ngSubmit)="onSubmit(doneeRegForm)" *ngIf="!this.ngoPanMode" >
        <div class="mb-3">
            <label for="doneeName">NGO Name</label>
            <input type="text" id="doneeName" class="form-control" 
            ngModel
            name="name"
            required
            >
        </div>
        <div class="mb-3">
            <label for="doneeWebsite">Website Link</label>
            <input type="text" id="doneeWebsite" class="form-control" 
            ngModel
            name="website"            
            >
        </div>
        <div class="mb-3">
            <label for="doneeDescription">Description</label>
            <input type="text" id="doneeDescription" class="form-control" 
            ngModel
            name="description"            
            >
        </div>
        <div class="mb-3">
            <label for="doneeAddress">Address</label>
            <input type="text" id="doneeAddress" class="form-control" 
            ngModel
            name="address"
            required
            >
        </div>
        <div class="mb-3">
            <label for="doneePincode">Pincode</label>
            <input type="number" id="doneePincode" class="form-control" 
            ngModel
            name="pincode"
            required
            >
        </div>
        <div class="mb-3">
            <label for="doneePhone">Contact No.</label>
            <input type="number" id="doneePhone" class="form-control" 
            ngModel
            name="phone"
            required
            pattern=".{10,}"
            >
        </div>
       

        <div class="mb-3">
            <label for="doneeEmail">E-mail</label>
            <input type="email" id="doneeEmail" class="form-control" 
            ngModel
            name="email"
            required
            email>
        </div>
        <div class="mb-3">
            <label for="doneePassword">Password</label>
            <input type="password" id="doneePassword" class="form-control"
            ngModel
            name="password"
            required
            pattern=".{6,}">
        </div>
        <div class="btn-group mb-3">
            <button class="btn btn-outline-dark" (click)="routeToLogin()">Back</button>
            <button class="btn btn-outline-dark" type="submit" *ngIf="!ngoPanMode" [disabled]="!doneeRegForm.valid">Next</button>     
            
        </div>
        </form>
        <form *ngIf="ngoPanMode" #ngoAdditionalInfo="ngForm" (ngSubmit)="onSubmitNgoAdditonalInfo(ngoAdditionalInfo)"> 
            <div class="mb-3">
                <label for="doneePan">Pan No.</label>
                <input type="text" id="doneePan" class="form-control" 
                ngModel
                name="panno"
                required
                
                >
            </div>
            <div class="mb-3">
                <label for="doneeForm12">Upload Form 12a</label>
                <input type="file" id="doneeForm" class="form-control" 
                ngModel
                name="panForm12a"
                (change)="onForm12aSelected($event)"
                required
                
                >
            </div>
            <div class="mb-3">
                <label for="doneePan">Upload Form80g</label>
                <input type="file" id="doneePan" class="form-control" 
                ngModel
                name="panForm80g"
                (change)="onForm80gSelected($event)"
                required
                
                >
                <div class="mb-3">
                    <label for="doneeComments" class="form-label">Comments</label>
                    <textarea class="form-control" id="doneeComments" rows="3"
                    required
                    ngModel
                    name="doneeComments"></textarea>
                  </div>
            </div>
            <div class="btn-group">
                <button class="btn btn-outline-dark" (click)="switchToNgoPanMode(false)">Back</button>  
                <button class="btn btn-outline-dark" type="submit" [disabled]="!ngoAdditionalInfo.valid">Register</button> 
               
            </div>
        </form>
    </div>

    
</div>
</div>
</div>