
<div class="d-flex justify-content-center" *ngIf="loadingReqFlag||loadingUpdatesFlag">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

<div class="container" *ngIf="(!loadingUpdatesFlag)&&(!loadingReqFlag)">
  <div class="btn-group" id="navigationBtns">
<button class="btn btn-outline-dark" (click)="donateItem()">Donate Item</button>
<button class="btn btn-outline-dark" (click)="viewRequirements()">Requirements</button>
<button class="btn btn-outline-dark" (click)="viewUpdates()">Updates</button>
</div>
</div>
<div id="seperator" style="height:30px">

</div>

<router-outlet *ngIf="(!loadingUpdatesFlag)&&(!loadingReqFlag)"></router-outlet>