
<div class="d-flex justify-content-center" *ngIf="loadingReqFlag||loadingUpdatesFlag || loadingCategoriesFlag || loadingAlertsFlag">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

<div class="container mt-3" *ngIf="(!loadingUpdatesFlag)&&(!loadingReqFlag)&&(!loadingCategoriesFlag)&&(!loadingAlertsFlag)">

  <div class="row mt-3 mb-3">
    <div class="col">
     <button class="btn btn-outline-dark btn-sm" (click)="getFreshData()"> Refresh Data </button>
    </div>
  </div>

  <div class="btn-group" id="navigationBtns">
<button class="btn btn-outline-dark" [ngClass]="{'active':currentPage=='donate'}" (click)="donateItem()">Donate</button>
<button class="btn btn-outline-dark" [class.active]="currentPage=='requirements'" (click)="viewRequirements()">Requirements</button>
<button class="btn btn-outline-dark" [class.active]="currentPage=='updates'"(click)="viewUpdates()">Updates</button>
<button class="btn btn-outline-dark" [class.active]="currentPage=='notifications'"(click)="viewNotifications()">Notifications</button>
</div>

</div>
<div id="seperator" style="height:30px">

</div>

<router-outlet *ngIf="(!loadingUpdatesFlag)&&(!loadingReqFlag)&&(!loadingCategoriesFlag)&&(!loadingAlertsFlag)"></router-outlet>