<div class="container">
    <h3>Donations offered by you</h3>
    <!--<ng-container *ngFor="let item of filteredJobs;index as i">
        <tr (click)="viewJobHistory(i,job.jobname,job.jobParent)">                            
        
      <td> <div class="form-group">
        <div class="form-group__text">
            <span>{{job.jobname}}</span>
                              
        </div>
    </div>
  </td>
  <td> <div class="form-group">
    <div class="form-group__text">
        <span>{{job.description}}</span>                                          
    </div>
</div>
</td>
<td> <div class="form-group">
<div class="form-group__text">
    <span>{{job.priority}}</span>
                      
</div>
</div>
</td>    
<td> <div class="form-group">
<div class="form-group__text">
<span>{{job.jobFrequency}}</span>
                  
</div>
</div>
</td>    
<td> <div class="form-group">
<div class="form-group__text">
    <span>{{job.jobPrevDate}}</span>
                      
</div>
</div>
</td>
<td> <div class="form-group">
<div class="form-group__text">
<span>{{job.jobNextDate}}</span>                                  
</div>
</div>
</td>
<td> 
<div class="form-group">
<div class="form-group__text">
<span>{{job.jobParent}}</span>
              
</div>
</div>
</td>
<td>
<span class="icon-chevron-down"></span>

</td>
</tr>
<ng-container *ngIf="jobItems[i]">
<tr>            
<td colspan="8">
<p *ngIf="!historyExist&&hasJobHistoryLoaded" id="zeroResults">No Search Results Found</p>
<div class="loader loader--small" aria-label="Loading, please wait..." *ngIf="!hasJobHistoryLoaded">
    <div class="wrapper">
        <div class="wheel"></div>
    </div>
</div>
<div class="responsive-table jobHistoryView" *ngIf="hasJobHistoryLoaded&&historyExist">
<table class="table table--lined table--fixed table--bordered table--striped">
    <thead>
        <tr>                            
            <th>Time of Occurence</th>                            
            <th>Status</th>                             
            <th>Duration (in seconds)</th>  
            <th>SLA</th>  
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let alert of filteredJobHistory">                 
            <td> <div class="form-group">
                <div class="form-group__text">
                    <span>{{alert.jobRunTime}}</span>                                             
                </div>
            </div>
            </td>  
               
      <td> <div class="form-group">
        <div class="form-group__text">
            <span>{{alert.jobRunStatus}}</span>                                             
        </div>
    </div>
  </td>   
    <td> <div class="form-group">
        <div class="form-group__text">
            <span>{{alert.jobDuration}}</span>                                               
        </div>
    </div>
  </td>     
  <td class="slaStatus"> <div class="form-group">
    <div class="form-group__text">
        <div data-balloon="SLA Met" data-balloon-pos="left"> <span class="text-success icon-check-outline icon-size-20" *ngIf="alert.metSla==1"></span></div>
       <div data-balloon="Failed" data-balloon-pos="left"> <span class="text-danger icon-error-outline icon-size-20" *ngIf="alert.metSla==0"></span></div>
       <div data-balloon="SLA not Met" data-balloon-pos="left"><span class="text-warning icon-warning-outline icon-size-20" *ngIf="alert.metSla==-1"></span></div>
       <div data-balloon="SLA Pending" data-balloon-pos="left"> <span class=" text-info icon-info-outline icon-size-20" *ngIf="alert.metSla==-2"></span></div>                                             
    </div>
</div>
</td>         
        </tr>
    </tbody>
</table>
</div>
<div class="jobHistoryPagination" *ngIf="hasJobHistoryLoaded&&historyExist">
<ul class="pagination">
<li [class.disabled]="!isJobHistoryPrevActive"><a (click)="goToFirstPage('history')"><span class="icon-chevron-left-double"></span></a></li>
<li [class.disabled]="!isJobHistoryPrevActive" (click)="goToPrev('history')"><a><span class="icon-chevron-left"></span></a></li>
<li *ngFor="let page of pageCountJobHistory" [class.active]="pageJobHistorySelected[page-1]"><a (click)="changeJobHistoryPage(page-1)">{{page}}</a></li>
<li *ngIf="showHistoryDots"><span class="icon-more"></span></li>
<li [class.disabled]="!isJobHistoryNextActive" (click)="goToNext('history')"><a><span class="icon-chevron-right"></span></a></li>
<li [class.disabled]="!isJobHistoryNextActive" ><a (click)="goToLastPage('history')"><span class="icon-chevron-right-double"></span></a></li>
</ul>
</div>
</td>
</tr>
</ng-container>
</ng-container>-->























    <!-- <table class="table">
        <thead>
            <tr>  
                <th>Item Name</th> 
                <th>Quantity</th>   
                <th>Status</th>                             
                <th>More Details</th>                                               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of donorItemsList;let i = index;"> 
                <td> <div class="form-group">
                    <div class="form-group__text">
                        <span>{{item.name}}</span>                                               
                    </div>
                </div>
              </td>     
              <td> <div class="form-group">
                <div class="form-group__text">
                    <span>{{item.quantity}}</span>                                               
                </div>
            </div>
          </td>  
          <td> <div class="form-group">
            <div class="form-group__text">
                <span>{{item.status}}</span>                                               
            </div>
        </div>
      </td> 
      <td> 
          <div class="form-group">
        <div class="form-group__text">
            <button class="btn btn-secondary" (click)="viewItemDetails(i)">View</button>                                            
            </div>
        </div>
    </td>   
</tr>
    </tbody>
    </table> -->
</div>
<!-- <div id = "viewItemDetail" *ngIf="!itemListMode">
    <div id="donationDetails">
        <h4>Donation Details</h4>
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Delete
          </button>
          
           
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  You want to delete this item.
                </div>
                <p></p>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                  <button type="button" class="btn btn-primary" (click)="deleteItem()">Yes</button>
                </div>
              </div>
            </div>
          </div>
    <div class = "row">
        <div class="col">
            <label>Item Name:</label><span>{{selectedItem.name}}</span>
        </div>
        <div class="col">
            <label>Status: </label><span>{{selectedItem.status}}</span>
        </div>
        
    </div>
    <div class = "row">
        <div class="col">
            <label>Category: </label><span>{{selectedItem.category}}</span>
        </div>
        <div class="col">
            <label>Subcategory: </label><span>{{selectedItem.subcategory}}</span>
        </div>
        
    </div>
    <div class = "row">
        <div class="col">
            <label>Quantity:</label><span>{{selectedItem.quantity}}</span>
        </div>
        <div class="col">
            <label>Quality: </label><span>{{selectedItem.quality}}</span>
        </div>
        
    </div>
    <div class = "row">
        <div class="col">
            <label>Details:</label><span>{{selectedItem.details}}</span>
        </div>
        <div class="col">
            <button class="btn btn-secondary" (click)="viewImage()">View Image</button> 
        </div>
                    
    </div>
</div>



    <div id="donationOfferings" *ngIf="selectedItem.status=='Available'">

        <h3>Requests Made by NGOS</h3>
        
        
        
    <table class="table">
        <thead>
            <tr>  
                <th>Quantity</th> 
                <th>Details</th>                
                <th>Donate/Reject</th>                                                  
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of selectedDonationRequestList;let i = index;"> 
                <td> <div class="form-group">
                    <div class="form-group__text">
                        <span>{{item.quantity}}</span>                                               
                    </div>
                </div>
              </td>     
          <td> <div class="form-group">
            <div class="form-group__text">
                <span>{{item.details}}</span>                                               
            </div>
        </div>
      </td>   
      <td> <div class="form-group">
        <div class="form-group__text">
            <button class="btn btn-secondary" (click)="viewImage(i)">View</button>                                              
        </div>
    </div>
    </td>                       
              <td> <div class="form-group">
                <div class="form-group__text">
                    <button class="btn btn-secondary" (click)="approveRequest(i)">Accept</button> | <button class="btn btn-secondary" (click)="rejectRequest(i)">Reject</button>                                              
                </div>
            </div>
          </td>  
        </tr>
    </tbody>
    </table>
    
    
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-secondary" (click)="viewList()">Back</button>
        </div>
        
    </div>

    

</div> -->
</div>
