<div class="container" id="msgBody" *ngIf="msgMode">
        
    <div class="form-floating mb-3">
      <textarea class="form-control" [(ngModel)]="messageBody" placeholder="Type your Message here" id="floatingTextarea2" style="height: 100px"></textarea>
      <label for="floatingTextarea2">Your Message</label>
    </div>
    <button class="btn btn-outline-secondary" (click)="sendMessage()">Send</button>
    <button class="btn btn-outline-secondary" (click)="showUpdates()">Back</button>
</div>  

<div class="container" *ngIf="!msgMode">
    <h3>Donations offered by you</h3>
    <ng-container *ngFor="let item of donorUpdates;index as i">  
            <div class="card mt-3">
                <div class="card-body">
                  <h5 class="card-title">{{item.itemName}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{item.itemDate | date:'medium'}}</h6>
                  <div class="row">
                      <div class="col">
                          Category : {{item.itemCategory}}
                      </div>
                      <div class="col">
                        SubCategory : {{item.itemSubCategory}}
                    </div>
                    <div class="col">
                        Quantity : {{item.itemQuantity}}
                    </div>
                  </div>
                  <div class="row">
                      <div class="col">
                        Quality: {{item.itemQuality}}
                      </div>
                      <div class="col">
                       Details: {{item.itemDetails}}
                    </div>
                  </div>
                  <div class="btn-group"  role="group" aria-label="Basic outlined example">
                  <button class="btn btn-outline-secondary" (click)="viewItemImage(i)">View Image</button>
                  <button class="btn btn-outline-secondary" (click)="viewItemUpdates(i)">View Updates</button>
                  <button class="btn btn-outline-secondary" (click)="deleteItem(i)">Delete</button>
                  </div>
                </div>
              </div>
        
<ng-container *ngIf="visibleItemUpdate[i]">
    <h5>Updates for selected Item </h5>
<div id="itemUpdates" *ngFor ="let update of selectedItemUpdates;index as j;">
    
    <div [ngSwitch]="update.updateType">
        <div *ngSwitchCase = "'donateRequest'" id="donateReqUpdate">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{update.updateDate | date:'medium'}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{update.updateType}}</h6>
                  <div class="row">
                      <div class="col">
                      NGOName: {{update.ngoName}} 
                     </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Details: {{update.reqDetails}}
                        </div>
                    </div>
                    <div class="btn-group"  role="group" aria-label="Basic outlined example">
                        <button class="btn btn-outline-secondary" (click)="acceptOrReject(i,j,'accept')">Accept</button>
                        <button class="btn btn-outline-secondary" (click)="acceptOrReject(i,j,'decline')">Decline</button>
                    </div>
                </div>
              </div>
        </div>
        <div *ngSwitchCase = "'donate'" id="donateUpdate">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{update.updateDate | date:'medium'}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{update.updateType}}</h6>
                  <p class="card-text">Waiting for NGO Approval</p>
                </div>
              </div>
        </div>
        <div *ngSwitchCase = "'received'" id="receivedUpdate">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{update.updateDate | date:'medium'}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{update.updateType}}</h6>
                  <p class="card-text">NGO has received your item</p>
                </div>
              </div>
        </div>
        <div *ngSwitchCase = "'message'" id="messageUpdate">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{update.updateDate | date:'medium'}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{update.updateType}}</h6>
                  <p class="card-text">From: {{update.ngoName}}</p>
                  <p>{{update.message}}</p>
                </div>
              </div>
         </div>
        <div *ngSwitchCase = "'accept'" id="acceptUpdate">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{update.updateDate | date:'medium'}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{update.updateType}}</h6>
                  <p class="card-text">You have accepted {{update.ngoName}}'s request</p>
                  <button class="btn btn-outline-secondary" (click)="setMsgIndex(i,j)">Send Message</button>  
                </div>
              </div>
        </div>
        <div *ngSwitchCase = "'decline'" id="declineUpdate">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{update.updateDate | date:'medium'}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{update.updateType}}</h6>
                  <p class="card-text">You declined {{update.ngoName}}'s request</p>
                </div>
              </div>
        </div>
        <div *ngSwitchCase = "'acceptDonation'" id="acceptDonationUpdate">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{update.updateDate | date:'medium'}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{update.updateType}}</h6>
                  <p class="card-text">{{update.ngoName}} accepted your offer</p>
                  <button class="btn btn-outline-secondary" (click)="setMsgIndex(i,j)">Send Message</button>  
                </div>
              </div>
        </div>
        <div *ngSwitchCase = "'declineDonation'" id="rejectDonationUpdate">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{update.updateDate | date:'medium'}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{update.updateType}}</h6>
                  <p class="card-text">{{update.ngoName}} rejected your offer</p>
                </div>
              </div>
        </div>
        <div *ngSwitchCase = "'noupdate'" id="noupdateUpdate">
            <h5> No Updates for this Item</h5>
         </div>
        <div *ngSwitchDefault>
            New updateType not handled: {{update.updateType}}
        </div>
    </div>
</div>
</ng-container>
</ng-container>
</div>























    <!-- <table class="table">
        <thead>
            <tr>  
                <th>Item Name</th> 
                <th>Quantity</th>   
                <th>Status</th>                             
                <th>More Details</th>                                               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of donorItemsList;let i = index;"> 
                <td> <div class="form-group">
                    <div class="form-group__text">
                        <span>{{item.name}}</span>                                               
                    </div>
                </div>
              </td>     
              <td> <div class="form-group">
                <div class="form-group__text">
                    <span>{{item.quantity}}</span>                                               
                </div>
            </div>
          </td>  
          <td> <div class="form-group">
            <div class="form-group__text">
                <span>{{item.status}}</span>                                               
            </div>
        </div>
      </td> 
      <td> 
          <div class="form-group">
        <div class="form-group__text">
            <button class="btn btn-secondary" (click)="viewItemDetails(i)">View</button>                                            
            </div>
        </div>
    </td>   
</tr>
    </tbody>
    </table> 
</div>
<div id = "viewItemDetail" *ngIf="!itemListMode">
    <div id="donationDetails">
        <h4>Donation Details</h4>
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Delete
          </button>
          
           
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  You want to delete this item.
                </div>
                <p></p>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                  <button type="button" class="btn btn-primary" (click)="deleteItem()">Yes</button>
                </div>
              </div>
            </div>
          </div>
    <div class = "row">
        <div class="col">
            <label>Item Name:</label><span>{{selectedItem.name}}</span>
        </div>
        <div class="col">
            <label>Status: </label><span>{{selectedItem.status}}</span>
        </div>
        
    </div>
    <div class = "row">
        <div class="col">
            <label>Category: </label><span>{{selectedItem.category}}</span>
        </div>
        <div class="col">
            <label>Subcategory: </label><span>{{selectedItem.subcategory}}</span>
        </div>
        
    </div>
    <div class = "row">
        <div class="col">
            <label>Quantity:</label><span>{{selectedItem.quantity}}</span>
        </div>
        <div class="col">
            <label>Quality: </label><span>{{selectedItem.quality}}</span>
        </div>
        
    </div>
    <div class = "row">
        <div class="col">
            <label>Details:</label><span>{{selectedItem.details}}</span>
        </div>
        <div class="col">
            <button class="btn btn-secondary" (click)="viewImage()">View Image</button> 
        </div>
                    
    </div>
</div>



    <div id="donationOfferings" *ngIf="selectedItem.status=='Available'">

        <h3>Requests Made by NGOS</h3>
        
        
        
    <table class="table">
        <thead>
            <tr>  
                <th>Quantity</th> 
                <th>Details</th>                
                <th>Donate/Reject</th>                                                  
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of selectedDonationRequestList;let i = index;"> 
                <td> <div class="form-group">
                    <div class="form-group__text">
                        <span>{{item.quantity}}</span>                                               
                    </div>
                </div>
              </td>     
          <td> <div class="form-group">
            <div class="form-group__text">
                <span>{{item.details}}</span>                                               
            </div>
        </div>
      </td>   
      <td> <div class="form-group">
        <div class="form-group__text">
            <button class="btn btn-secondary" (click)="viewImage(i)">View</button>                                              
        </div>
    </div>
    </td>                       
              <td> <div class="form-group">
                <div class="form-group__text">
                    <button class="btn btn-secondary" (click)="approveRequest(i)">Accept</button> | <button class="btn btn-secondary" (click)="rejectRequest(i)">Reject</button>                                              
                </div>
            </div>
          </td>  
        </tr>
    </tbody>
    </table>
    
    
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-secondary" (click)="viewList()">Back</button>
        </div>
        
    </div>

    

</div>
</div>-->
